*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.container{
    width: 100%;
}
.container .header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .header h3{
    font-size: 18px;
}
table{
    width: 100%;
}
table tbody tr td{
    width: 50%;
    padding: 10px 0;
}
